
body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}


.top {
    height: 20%;
    background-color: #ff7675; 
}

.bottom {
    height: 20%;
    background-color: #74b9ff; 
}


.middle {
    height: 60%;
    display: flex;
}


.box {
    flex: 1;
}

.left {
    background-color: #55efc4; 
}

.center {
    background-color: #ffeaa7; 
}

.right {
    background-color: #a29bfe; 
}
