body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: pink;
    color:black;
    padding: 70px;
    text-align: center;
    font-size: 24px;
     font-weight: bold;
}

.boxes {
    display: flex;
    padding: 0px;
}

.box {
    width: 40%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.Skyblue {
    background-color: skyblue;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
   
}


.content {
    background-color: orange;
    padding:80px;
    text-align: center;
    font-size: 20px;
     font-weight: bold;
}

.footer {
    background-color: grey;
    color: black;
    padding: 60px;
    text-align: center;
    font-size: 20px;
     font-weight: bold;
}