table {
  border-collapse: collapse;
  width: 60%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

table tr:nth-child(2n + 3) {
  background-color: #9abbde;
}

table tr:nth-child(2n + 4) {
  background-color: #83df79;
}